# Reindexing in Pandas DataFrame

Reindexing in Pandas can be done for rows and columns of a dataframe.

## How to reindex Pandas DataFrame

In this article, you will learn how to reindex a dataframe using - 

*   Row Reindexing
*   Column Reindexing

Let's create a dataframe first.

In [ ]:
# Importing Library
import pandas as pd

# Index for Dataframe
index = [101, 102, 103, 104, 105]

# Create a Dataframe
data = {'Roll No': [1,2,3,4,5],
        'Name': ['Tom','Jerry','Spike','Butch','Droopy'], 
        'Age': [20,19,21,20,20],
        'Marks': [91, 94, 78, 32, 84]}
df = pd.DataFrame(data, index = index)

df

     Roll No    Name  Age  Marks
101        1     Tom   20     91
102        2   Jerry   19     94
103        3   Spike   21     78
104        4   Butch   20     32
105        5  Droopy   20     84

Let's see the syntax for reindexing.

### df.reindex()

__df.reindex(labels=None, index=None, columns=None, axis=None, method=None, copy=True, level=None, fill_value=nan, limit=None, tolerance=None)__


__Purpose:__ to reindex the dataframe.


__Parameters:__

__-labels:__ new labels or index. 

__-index:__ index object to avoid duplicate data. 

__-axis:__ specify the row or column.

__-method:__ used for filling holes in reindexed dataframe. 

__-copy:__ new object is returned. 

__-level:__  matching index values on the passed multi-index level. 

__-fill_value:__ value to be used for missing values.

__-limit:__ max number of consecutive elements to fill. 

__-tolerance:__ max distance between original and new labels for dislike matches. 


__Returns:__ series or dataframe with new index.

## 1.Row Reindexing

In [ ]:
print('Dataframe after reindexing the rows\n')

# Reindexing the rows
df.reindex(index = [101, 103, 105, 107, 104])

Dataframe after reindexing the rows

     Roll No    Name   Age  Marks
101      1.0     Tom  20.0   91.0
103      3.0   Spike  21.0   78.0
105      5.0  Droopy  20.0   84.0
107      NaN     NaN   NaN    NaN
104      4.0   Butch  20.0   32.0

In above output, some `NaN` values are generated for unknown index `107`. 

You can fill those `NaN` values by specifying argument `method` or `fill_value`.

## 2.Column Reindexing

A single column or multiple columns can be reindexed using `reindex()` method. 

The only difference between row and column indexing is extra argument `axis`.

In [ ]:
print('Dataframe after reindexing the columns\n')

# Reindexing the columns
df.reindex(['Name','A','B','Marks'], axis = 'columns')

Dataframe after reindexing the columns

       Name   A   B  Marks
101     Tom NaN NaN     91
102   Jerry NaN NaN     94
103   Spike NaN NaN     78
104   Butch NaN NaN     32
105  Droopy NaN NaN     84

In above output, some `NaN` values are generated for unknown column `A` & `B`. 

You can fill those `NaN` values by specifying argument `method` or `fill_value`.

## 3.Practical Tips

* In pandas the index should be unique and hashable inorder to perform reindexing.

* While reindexing, use parameters `method` and `fill_value` in order to remove `NaN` value.

* Make sure that the len(index) must be equal to len(data) if the data is nd array.

## 4.Test your knowledge

__Q1.__ Which pandas method is used to change the index of rows and columns of a Series or Dataframe ?

`A) rename()` `B) reindex()` `C) reframe()` `D) None of these` 

__Ans.__ B) `reindex()`



__Q2.__ `fill_value` parameter is used to replace `NaN` values while reindexing. True or False ?

__Ans.__ True.

__Q3.__ What will be the output of code ?

In [ ]:
import pandas as pd
import numpy as np

column = ['c1', 'c2', 'c3', 'c4']
df1 = pd.DataFrame(np.random.rand(4, 4), columns = column)

new_index =['c1', 'c4', 'c5', 'c3', 'c6']

df1.reindex(new_index, axis = 'columns', fill_value = "?")

         c1        c4 c5        c3 c6
0  0.004935  0.322162  ?  0.475457  ?
1  0.992955  0.639401  ?  0.576484  ?
2  0.256350  0.275552  ?  0.485426  ?
3  0.634016  0.574541  ?  0.504790  ?

After reindexing, generated `NaN` values will be replaced by `?`.