# Python Scientific Notation

Python considers very small or very large floating numbers in scientific notation by default.

Scientific notations can be suppressed by using round, set option, apply function and by setting display.

## How to suppress scientific notation in Python Pandas.

In this article, you will learn how to suppress scientific notation using -

*   Round function
*   Apply function
*   Set option function
*   display.float_format


Let's create a dataframe using random function.

### np.random.random()

__random.random(size=None)__

__Purpose:__ generate random float values.

__Parameters:__

  __- size:__ output shape is to be given. 
  
__Returns:__ 
* random float values in the interval `[0.0, 1.0)`. 
* Default is `None`, which return a single value.
* If the given shape is in form `(x,y,z)`, then `x*y*z` samples are generated.

In [ ]:
# Importing library
import numpy as np
import pandas as pd

# Create dataframe with random numbers in a float format
df = pd.DataFrame(np.random.random(7)**20, columns = ['Column1'])

print("Type of Column1: {}".format(df['Column1'].dtype))
df

Type of Column1: float64

        Column1
0  5.896469e-12
1  8.453178e-06
2  7.709703e-01
3  4.063332e-04
4  2.102130e-09
5  1.211713e-09
6  5.025270e-08

You can observe that the values of Column1 are very small (type = float) and are in scientific notation.

## 1.Suppress scientific notation using Round function

Let's see the syntax of `round()` function.

### DataFrame.round()

__DataFrame.round(decimals=0)__

__Purpose:__ rounds a dataframe to a specified number of decimal places.

__Parameters:__

  __- decimals:__ number of decimal places to round each column. 
  
__Returns:__ dataframe with columns rounded to the specified number of decimal places.

In [ ]:
# Lets round the Column1 column values to 5 digits.
df.round(5)

   Column1
0  0.00000
1  0.00001
2  0.77097
3  0.00041
4  0.00000
5  0.00000
6  0.00000

You can observe that the Column1 column has values rounded to 5 decimals and the scientific notation is removed.

## 2.Suppress scientific notation using Apply function

Let's see the syntax of `apply()` function.

### DataFrame.apply() 

__DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), kwargs)__

__Purpose:__ This function is used for adding a new column on a existing dataframe.

__Parameters:__

 __- func:__ function to be applied on row or column.

 __- axis:__ 0 or ‘index’ applies function to each column. 1 or ‘columns’ applies function to each row.

 __- raw:__ determines if a row or column is passed as a series or ndarray object.

 __- result_type:__ only acts when axis = 1.

 __- args:__ positional arguments.

 __- kwargs:__ keyworded arguments.
 

__Returns:__ Pandas series.

In [ ]:
df.apply(lambda x : '%.5f' % x, axis = 1)

0    0.00000
1    0.00001
2    0.77097
3    0.00041
4    0.00000
5    0.00000
6    0.00000
dtype: object

You can observe that the Column1 column has values upto 5 decimals and the scientific notation is removed using `apply()` and `lambda` functions.

## 3.Suppress scientific notation using set option function

Let's see the syntax of `set_option` function.

### pandas.set_option()

__pandas.set_option(pat, value)__

__Purpose:__ sets the value for the specified option.

__Parameters:__

 __- pat:__ regex expression which should match a single option.

 __- value:__ new value for the option.

`set_option()` method changes the behavior globally in .ipynb notebooks, hence it is a permanent fix.

In [ ]:
pd.set_option('display.float_format', lambda x : '%.5f' % x)

df

   Column1
0  0.00000
1  0.00001
2  0.77097
3  0.00041
4  0.00000
5  0.00000
6  0.00000

You can observe that the scientific notation is removed using `set_option()` method with `display.float_format` which keeps the type as float and `lambda` function is used to set Column1 column values to 5 decimals.

In [ ]:
# To revert Pandas behaviour to default use .reset_option() method.
pd.reset_option('display.float_format')

df

        Column1
0  5.896469e-12
1  8.453178e-06
2  7.709703e-01
3  4.063332e-04
4  2.102130e-09
5  1.211713e-09
6  5.025270e-08

## 4.Suppress scientific notation using `display.float_format`

In [ ]:
# Changing display to float format with values rounded to 5 decimal places.
pd.options.display.float_format = '{:.5f}'.format

df

   Column1
0  0.00000
1  0.00001
2  0.77097
3  0.00041
4  0.00000
5  0.00000
6  0.00000

You can observe that the scientific notation is removed by setting display format as float with 5 decimals.

In [ ]:
# To revert back, you can use pd.reset_option with a regex to reset simultaneously. 
pd.reset_option('^display.', silent=True)

df

        Column1
0  5.896469e-12
1  8.453178e-06
2  7.709703e-01
3  4.063332e-04
4  2.102130e-09
5  1.211713e-09
6  5.025270e-08

## 5.Practical Tips

* Make sure while using `round()` function any columns that are not included in decimals will be left as it is and that column input will be ignored.

* Try to avoid `apply()` function on big dataframes because apply function is slow as it iteratively applies the function to each row or column. This consumes lot of memory.

* `set_option()` & `display.float_format` dont make a temporary fix, they are permanent. If you want to revert the behaviour use `pd.reset_option()`.

## 6.Test Your Knowledge

__Q1.__ What will be the output if decimal parameter is not passed to `pd.round()` function ?

__Ans.__ It will round the values to one decimal point.



__Q2.__ Which function is used to revert back previous format ?

`A. revert_option` `B. set_option ` `C. reset_option ` `D. Both A & C`

__Ans.__ C. `reset_option`



__Q3.__ The below code will set the display as integer format with 5 decimal places. True or False ?

`pd.set_option('display.int_format', lambda x : '%.5f' % x)`

__Ans.__ False. `Option Error` - there is no such keys `int.format`. Scientific Notation occurs when the type is float with very small or very large values.