# Series To Dataframe

Dataframe is created by using the pandas `Series.to_frame()` function and `pandas.DataFrame()` function.

## How to create a dataframe from pandas series. 

Series is a 1-d labeled array and can hold any data type.

Dataframe is a collection of series.

In this article, you will learn how to create a dataFrame from series using -

* built-in series function.
* pandas dataframe function.

Let's see the syntax for creating a pandas series.

### pandas.Series()
 
__pandas.Series(data=None, index=None, dtype=None, name=None, copy=False)__

__Purpose:__ This function is used for creating a pandas series.


__Parameters:__

 __- data:__ ndarray, iterable, dict.

 __- index:__ index to use for resulting frame.

 __- dtype:__ datatype.

 __- name:__ series name.

 __- copy:__ copy data from inputs.


__Returns:__ Pandas series.

## 1.Creating dataframe from built-in series function `Series.to_frame()`

In [ ]:
# Importing library
import pandas as pd

fruits = ['Apple','Banana','Guava','Blueberries','Grapes']

# Creating Series
s1 = pd.Series(fruits, name="Fruit")     
df = s1.to_frame()

print("Type:",type(df))
df

Type: <class 'pandas.core.frame.DataFrame'>

         Fruit
0        Apple
1       Banana
2        Guava
3  Blueberries
4       Grapes

##2.Creating dataframe from single or multiple series using `pandas.DataFrame()`

In [ ]:
color = ['Red','Yellow','Green','Blue','Violet']

# Creating a series for above list
s2 = pd.Series(color, name="colors")

# Creating a dataframe by passing series to dataframe's values
df = pd.DataFrame({'Fruit': s1, 'Color': s2})

print("Type:",type(df))
df

Type: <class 'pandas.core.frame.DataFrame'>

         Fruit   Color
0        Apple     Red
1       Banana  Yellow
2        Guava   Green
3  Blueberries    Blue
4       Grapes  Violet

## 3.Practical Tips 

* ```Series.to_frame()```  method  is limited to a particular series. So use ```pandas.DataFrame()``` method.

## 4.Test Your Knowledge 

__Q1.__ We can add series externally in a dataframe. True or False ?

__Ans.__ True.



__Q2.__ What will be the output of following code ?

In [ ]:
import pandas as pd

fruits = ['Apple','Banana','Grapes']
color = ['Red','Yellow','Green']

s1 = pd.Series(fruits)
s2 = pd.Series(color)

df = pd.DataFrame({'Fruit': s1, 'Color': s2})
df['Rate'] = pd.Series([150, 50, 90])

df

    Fruit   Color  Rate
0   Apple     Red   150
1  Banana  Yellow    50
2  Grapes   Green    90

__Q3.__ In a dataframe, by default new column is added at ____ .
```
A) First (Left Side)
B) Second
C) Last (Right Side)
D) Random
```

__Ans.__ C) Last (Right Side)